node_modules/
.env
artifacts/
cache/
coverage/
coverage.json
typechain-types/

# Hospital portal
hospital-portal/backend/node_modules/
hospital-portal/frontend/node_modules/
hospital-portal/frontend/dist/
hospital-portal/backend/.env
hospital-portal/frontend/.env

# Insurance portal
insurance-portal/backend/node_modules/
insurance-portal/frontend/node_modules/
insurance-portal/frontend/dist/
insurance-portal/backend/.env
insurance-portal/frontend/.env

# AI Service
ai-service/.env
ai-service/dataset/
ai-service/*.h5
ai-service/*.keras
ai-service/__pycache__/
ai-service/venv/