# Server
PORT=5001
FRONTEND_URL=http://localhost:5174

# MongoDB
MONGODB_URI=mongodb://localhost:27017/healthcvs_insurance

# JWT
JWT_SECRET=change_this_to_a_very_long_random_secret_string
JWT_EXPIRES_IN=8h

# Insurer Info
INSURER_NAME=Star Health Insurance
INSURER_CODE=SHI001

# Blockchain (Polygon Amoy Testnet)
AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
# Wallet that holds INSURER_ROLE — different from hospital wallet
INSURER_WALLET_PRIVATE_KEY=your_insurer_wallet_private_key_here

# Contract Addresses (same contracts, different portal)
ROLE_MANAGER_ADDRESS=0x3523B81c2FCD522f37865728aEa869Eeca164AA4
PATIENT_REGISTRY_ADDRESS=0x3DBA5C00aD77BaEFd6702113d0A81e09d20aa371
CLAIM_SUBMISSION_ADDRESS=0xa8b843632DdF21c8B6a27ec78f235680B0d93879
AUTO_ADJUDICATION_ADDRESS=0xFe61C81A8002a45742685C11104fC95706773A27

# Pinata IPFS (for reading claim metadata — same gateway as hospital)
PINATA_GATEWAY=your-gateway.mypinata.cloud
