# Server
PORT=5000
FRONTEND_URL=http://localhost:5173

# MongoDB
MONGODB_URI=mongodb://localhost:27017/healthcvs_hospital

# JWT
JWT_SECRET=change_this_to_a_very_long_random_secret_string
JWT_EXPIRES_IN=8h

# Hospital Info
HOSPITAL_NAME=City General Hospital
HOSPITAL_CODE=CGH001

# Blockchain (Polygon Amoy Testnet)
AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
HOSPITAL_WALLET_PRIVATE_KEY=your_hospital_wallet_private_key_here

# Contract Addresses
ROLE_MANAGER_ADDRESS=0x3523B81c2FCD522f37865728aEa869Eeca164AA4
PATIENT_REGISTRY_ADDRESS=0x3DBA5C00aD77BaEFd6702113d0A81e09d20aa371
CLAIM_SUBMISSION_ADDRESS=0x0000000000000000000000000000000000000000

# Pinata IPFS
PINATA_JWT=your_pinata_jwt_here
PINATA_GATEWAY=your-gateway.mypinata.cloud
